/* Controls the size of the populated table sections */

.restaurantWidth {
    width: 25%;
}
.addressWidth {
    width: 67%;
}
.scoreWidth {
    width: 8%;
}

.imageContent {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
    height: auto;
    width: 100%; 
}

.info-window {
    margin: 5px;
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
}

.iw-name {
    font-weight: bold;
}

.iw-score {
    font-size: 1.25em;
}