/* Controls the size of the populated table sections */

.restaurantWidth {
    width: 25%;
}
.addressWidth {
    width: 67%;
}
.scoreWidth {
    width: 8%;
}

.imageFit {
    width: 100%;
    height: 230px;
    padding-right: 0px;

   object-fit: cover;
}